//font-size
$caption-2: 10px;
$caption-1: 12px;
$subhead: 14px;
$body: 16px;
$headline-2: 20px;
$headline-1: 24px;
$title-3: 32px;
$title-2: 40px;
$title-1: 50px;
$large-title: 64px;

//line-height
$lh-caption-2: 16px;
$lh-caption-1: 18px;
$lh-subhead: 21px;
$lh-body: 24px;
$lh-headline-2: 30px;
$lh-headline-1: 36px;
$lh-title-3: 48px;
$lh-title-2: 56px;
$lh-title-1: 70px;
$lh-large-title: 90px;

//color
$primary-color: #6100d2;
$primary-base: #6100d2;
